In [ ]:
5 customers 
master.log
<CustID>:<Events>
e.g 
cust1:{hello}
cust2:{help}

In [1]:
import pandas as pd

In [6]:
df=pd.read_csv('Read.txt',sep='\t')

In [7]:
df

   Customer     event
0         1    hello1
1         2   helloss
2         3  hellosss

In [12]:
c=df.Customer.unique()

In [13]:
c

array([1, 2, 3], dtype=int64)

In [19]:
for c1 in c:
    customername= 'Read'+ str(c1) +'.txt'
    print(customername)
    m=df[df['Customer']==c1]
    m.to_csv(customername,index=False)

Read1.txt
Read2.txt
Read3.txt